<div class="calculator">
  <div class="display">
    <input class="input-question" type="text" [(ngModel)]="question" readonly />
    <input class="input-result" type="text" [(ngModel)]="result" readonly />
  </div>
  <div class="buttons">
    <!-- Number buttons -->
    <button
      *ngFor="let num of numbers"
      (click)="appendNumber(num)"
      class="button"
    >
      {{ num }}
    </button>

    <!-- Operator buttons -->
    <button
      *ngFor="let op of operators"
      (click)="setOperator(op)"
      class="button-operator"
    >
      {{ op }}
    </button>

    <!-- Control buttons -->
    <button (click)="calculate()" class="button-operator">=</button>
    <button (click)="clear()" class="button-operator" style="font-size: large">
      AC
    </button>
    <button (click)="backspace()" class="button-operator">C</button>
  </div>
</div>
